name: test-javascript

on:
  pull_request:
    branches:
      - main
  workflow_call:
  push:
    branches:
      - main
      - renovate/**

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        node-version: ['18.x', '20.x']
        include:
          - os: windows-latest
            node-version: '20.x'
          - os: macos-latest
            node-version: '20.x'
          - os: windows-latest
            node-version: '20.x'
          - os: macos-latest
            node-version: '20.x'

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run build
      - name: npm test
        uses: GabrielBB/xvfb-action@86d97bde4a65fe9b290c0b3fb92c2c4ed0e5302d # v1
        with:
          run: npm run test
      - run: npm run eslint
